<div>
  <h2>
    @if (isEditMode) {
    {{ "admin.reviews.edit" | translate }}
    } @else {
    {{ "admin.reviews.add" | translate }}
    }
  </h2>

  @if (books && users) {
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="rating" class="form-label">
            {{ "admin.reviews.form.rating" | translate }} (1-5)
          </label>
          <input
            type="number"
            id="rating"
            class="form-control"
            formControlName="rating"
            [ngClass]="{
              'is-invalid':
                form.get('rating')?.touched && form.get('rating')?.errors
            }"
          />
          <app-form-error [control]="form.get('rating')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">{{
            "admin.reviews.form.content" | translate
          }}</label>
          <textarea
            id="content"
            class="form-control"
            rows="5"
            formControlName="content"
            [ngClass]="{
              'is-invalid':
                form.get('content')?.touched && form.get('content')?.errors
            }"
          ></textarea>
          <app-form-error [control]="form.get('content')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="bookId" class="form-label">{{
            "admin.reviews.form.book" | translate
          }}</label>
          <select
            id="bookId"
            class="form-select"
            formControlName="bookId"
            [ngClass]="{
              'is-invalid':
                form.get('bookId')?.touched && form.get('bookId')?.errors
            }"
          >
            @for (book of books.books; track book.id) {
            <option [value]="book.id" [label]="book.title"></option>
            }
          </select>
          <app-form-error [control]="form.get('bookId')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="userId" class="form-label">{{
            "admin.reviews.form.user" | translate
          }}</label>
          <select
            id="userId"
            class="form-select"
            formControlName="userId"
            [ngClass]="{
              'is-invalid':
                form.get('userId')?.touched && form.get('userId')?.errors
            }"
          >
            @for (user of users.users; track user.id) {
            <option [value]="user.id" [label]="user.username"></option>
            }
          </select>
          <app-form-error [control]="form.get('userId')"></app-form-error>
        </div>
        <button type="submit" class="btn btn-primary me-2">
          @if (isEditMode) {
          {{ "common.buttons.save" | translate }}
          } @else {
          {{ "common.buttons.add" | translate }}
          }
        </button>
        <a routerLink="/admin/review/list" class="btn btn-outline-primary">
          {{ "common.buttons.cancel" | translate }}
        </a>
      </form>
    </div>
  </div>
  }
</div>
