<div>
  <div class="text-center">
    <h1>{{ "welcome.heading" | translate }}</h1>
    <p class="lead">
      {{ "welcome.info" | translate }}
    </p>
    <div class="mt-4">
      <a [routerLink]="['/register']" class="btn btn-primary btn-lg me-2">
        {{ "common.buttons.signup" | translate }}
      </a>
      <a [routerLink]="['/login']" class="btn btn-outline-primary btn-lg">
        {{ "common.buttons.signin" | translate }}
      </a>
    </div>
  </div>
  <div class="mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <h3>{{ "welcome.sections.browse.title" | translate }}</h3>
        <p>{{ "welcome.sections.browse.description" | translate }}</p>
      </div>
      <div class="col-md-4">
        <h3>{{ "welcome.sections.reviews.title" | translate }}</h3>
        <p>{{ "welcome.sections.reviews.description" | translate }}</p>
      </div>
      <div class="col-md-4">
        <h3>{{ "welcome.sections.trending.title" | translate }}</h3>
        <p>{{ "welcome.sections.trending.description" | translate }}</p>
      </div>
    </div>
  </div>
</div>
