<div>
  <div class="d-flex justify-content-between align-items-start gap-2">
    <div>
      <h2>
        {{ "shelves.name" | translate }}: @if (shelf.type === readShelfType) {
        {{ "shelves.type.read" | translate }}
        } @else if (shelf.type === wantToReadShelfType) {
        {{ "shelves.type.wantToRead" | translate }}
        } @else {
        {{ shelf.name }}
        }
      </h2>
      <p>
        {{ "shelves.bookCount" | translate }}:
        <span>{{ shelf.numberOfBooks }}</span>
      </p>
    </div>
    <a [routerLink]="['/shelf/list']" class="btn btn-primary">
      {{ "shelves.back" | translate }}
    </a>
  </div>

  <div class="my-4">
    <h4>{{ "shelves.addBook.title" | translate }}</h4>
    <form (ngSubmit)="onAddBook()" class="d-flex align-items-center gap-2">
      <select
        id="bookSelect"
        [(ngModel)]="selectedBookId"
        name="bookId"
        class="form-select"
      >
        <option [ngValue]="null">
          {{ "shelves.addBook.select" | translate }}
        </option>
        @for (book of availableBooks; track book.id) {
        <option [value]="book.id" [label]="book.title"></option>
        }
      </select>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!selectedBookId"
      >
        {{ "common.buttons.add" | translate }}
      </button>
    </form>
  </div>

  <div class="mt-4">
    <div class="d-flex justify-content-between align-items-start gap-2 mb-2">
      <h4>{{ "shelves.booksView.title" | translate }}</h4>
      <div>
        <button class="btn btn-light me-2" (click)="toggleView('list')">
          <i class="bi bi-list-ul"></i>
          <span class="text-sm ms-2">{{ "common.view.list" | translate }}</span>
        </button>
        <button class="btn btn-light" (click)="toggleView('grid')">
          <i class="bi bi-grid"></i>
          <span class="text-sm ms-2">{{ "common.view.grid" | translate }}</span>
        </button>
      </div>
    </div>

    <div [ngClass]="booksView === 'grid' ? 'row g-4' : 'list-group'">
      @for (book of shelfBooks; track book.id) {
      <div
        [ngClass]="
          booksView === 'grid'
            ? 'col-md-4'
            : 'list-group-item d-flex justify-content-between'
        "
      >
        @if (booksView === 'grid') {
        <div class="card h-100 d-flex flex-column">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-subtitle mb-3 text-muted">
              {{ "Autor: " + book.author }}
            </p>
            <div class="d-flex justify-content-between mt-auto">
              <a
                [routerLink]="['/book', book.id, 'details']"
                class="btn btn-sm btn-outline-primary"
              >
                {{ "common.buttons.details" | translate }}
              </a>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="onRemoveBook(book.id)"
              >
                {{ "common.buttons.delete" | translate }}
              </button>
            </div>
          </div>
        </div>
        } @else if (booksView === 'list') {
        <div class="d-flex w-100 justify-content-between p-2">
          <div>
            <h5>{{ book.title }}</h5>
            <p class="text-muted mb-0">{{ "Autor: " + book.author }}</p>
          </div>
          <div class="text-nowrap align-self-center">
            <a
              [routerLink]="['/book', book.id, 'details']"
              class="btn btn-sm btn-outline-primary me-2"
            >
              {{ "common.buttons.details" | translate }}
            </a>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveBook(book.id)"
            >
              {{ "common.buttons.delete" | translate }}
            </button>
          </div>
        </div>
        }
      </div>
      } @empty {
      <div class="col-md-12">
        <div class="alert alert-warning">
          {{ "shelves.booksView.emptyInfo" | translate }}
        </div>
      </div>
      }
    </div>
  </div>
</div>
