<div>
  <div class="d-flex justify-content-between align-items-center mb-4 gap-2">
    <h2>{{ "admin.reviews.title" | translate }}</h2>
    <a routerLink="/admin/review/add" class="btn btn-primary">
      {{ "admin.reviews.add" | translate }}
    </a>
  </div>

  @if (reviews) {
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="row g-2">
      <div class="col-md-7">
        <input
          type="text"
          name="query"
          class="form-control"
          formControlName="query"
          [attr.placeholder]="'admin.reviews.list.filter.query' | translate"
        />
      </div>
      <div class="col-md-3">
        <select formControlName="rating" class="form-select">
          <option [ngValue]="null">
            {{ "admin.reviews.list.filter.rating" | translate }}
          </option>
          @for (rating of [1,2,3,4,5]; track $index) {
          <option [ngValue]="rating" [label]="rating"></option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
          {{ "common.buttons.filter" | translate }}
        </button>
      </div>
    </div>
  </form>

  <div class="btn-group mb-4">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      {{ "common.buttons.sort" | translate }}
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" (click)="onSort('book', 'asc')">
          {{ "admin.reviews.form.bookTitle" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('book', 'desc')">
          {{ "admin.reviews.form.bookTitle" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'asc')">
          {{ "admin.reviews.form.reviewAuthor" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'desc')">
          {{ "admin.reviews.form.reviewAuthor" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('createdAt', 'asc')">
          {{ "admin.reviews.form.createdAt" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('createdAt', 'desc')">
          {{ "admin.reviews.form.createdAt" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('updatedAt', 'asc')">
          {{ "admin.reviews.form.updatedAt" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('updatedAt', 'desc')">
          {{ "admin.reviews.form.updatedAt" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <p>
      Wyświetlanie
      <strong>{{ filteredReviews.length || 0 }}</strong> wyników, posortowane
      według
      <strong>{{
        sortField === "book"
          ? "tytułu książki"
          : sortField === "author"
          ? "autora recenzji"
          : sortField === "createdAt"
          ? "daty dodania"
          : sortField === "updatedAt"
          ? "daty ostatniej edycji"
          : "niezdefiniowane"
      }}</strong>
      w kolejności
      <strong>{{ sortDirection === "asc" ? "rosnącej" : "malejącej" }}</strong
      >.
    </p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th class="col-2">
            {{ "admin.reviews.form.bookTitle" | translate }}
          </th>
          <th class="col-1">{{ "admin.reviews.form.rating" | translate }}</th>
          <th class="col-3">{{ "admin.reviews.form.content" | translate }}</th>
          <th class="col-2">
            {{ "admin.reviews.form.reviewAuthor" | translate }}
          </th>
          <th class="col-1">
            {{ "admin.reviews.form.createdAt" | translate }}
          </th>
          <th class="col-1">
            {{ "admin.reviews.form.updatedAt" | translate }}
          </th>
          <th class="col-1">{{ "common.buttons.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (review of paginatedReviews; track review.id) {
        <tr>
          <td>{{ review.book.title }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.content }}</td>
          <td>{{ review.author.username }}</td>
          <td class="text-nowrap">{{ review.createdAt | date : "medium" }}</td>
          <td class="text-nowrap">{{ review.updatedAt | date : "medium" }}</td>
          <td class="text-nowrap">
            <a
              [routerLink]="['/admin/review', review.id, 'edit']"
              class="btn btn-sm btn-outline-primary me-2"
            >
              {{ "common.buttons.edit" | translate }}
            </a>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="onDelete(review.id)"
            >
              {{ "common.buttons.delete" | translate }}
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="7">
            <div class="alert alert-warning">
              {{ "admin.reviews.list.emptyInfo" | translate }}
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="mt-2">
    <app-pagination
      [page]="page"
      [totalPages]="totalPages"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </div>
  }
</div>
