<div>
  <h2>{{ "auth.register" | translate }}</h2>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">{{
            "auth.form.username" | translate
          }}</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            formControlName="username"
            [ngClass]="{
              'is-invalid':
                form.get('username')?.touched && form.get('username')?.errors
            }"
          />
          <app-form-error [control]="form.get('username')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">{{
            "auth.form.password" | translate
          }}</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                form.get('password')?.touched && form.get('password')?.errors
            }"
          />
          <app-form-error [control]="form.get('password')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">{{
            "auth.form.confirmPassword" | translate
          }}</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid':
                form.get('confirmPassword')?.touched &&
                form.get('confirmPassword')?.errors
            }"
          />
          <app-form-error
            [control]="form.get('confirmPassword')"
          ></app-form-error>
        </div>
        <button type="submit" class="btn btn-primary">
          {{ "common.buttons.signup" | translate }}
        </button>
      </form>
    </div>
  </div>
  <div class="mt-3">
    {{ "auth.hasAccount" | translate }}
    <a [routerLink]="['/login']">
      {{ "common.buttons.signin" | translate }}
    </a>
  </div>
</div>
