<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>Szczegóły książki</h2>
    @if (loggedInUser?.role === adminRole ) {
    <div class="d-flex align-items-center gap-2">
      <a
        [routerLink]="['/admin/book', book.id, 'edit']"
        class="btn btn-outline-primary"
      >
        Edytuj
      </a>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="onDelete(book.id)"
      >
        Usuń
      </button>
    </div>
    }
  </div>

  <div class="card mt-4">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img
          [src]="getImagePath(book.imagePath)"
          [alt]="book.title"
          class="w-100 object-fit-cover img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8 d-flex flex-column">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-start gap-2">
            @for (shelf of book.shelves; track shelf.id) {
            <span class="badge text-bg-secondary mb-2">{{ shelf.name }}</span>
            }
          </div>
          <h3 class="card-title">{{ book.title }}</h3>
          <div class="card-subtitle mb-3 text-muted">
            {{ "Autor: " + book.author }}
          </div>
          <p class="card-text">
            <span>Opis:</span>
            <span>{{ book.description }}</span>
          </p>
          <app-book-add-to-shelf
            [bookId]="book.id"
            (refresh)="onAddToShelf()"
          ></app-book-add-to-shelf>
        </div>
        <div class="card-footer">
          @if (this.bookStats$ | async; as stats) {
          <div class="d-flex justify-content-between">
            <p class="mb-0">
              Liczba osób, które przeczytały:
              <span>{{ stats.readCount }}</span>
            </p>
            <p class="mb-0">
              Liczba osób, które chcą przeczytać:
              <span>{{ stats.wantToReadCount }}</span>
            </p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h4>Informacje</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>Wydawnictwo:</span>
        <span>{{ book.publisher }}</span>
      </li>
      <li class="list-group-item">
        <span>ISBN:</span>
        <span>{{ book.isbn }}</span>
      </li>
      <li class="list-group-item">
        <span>Rok publikacji:</span>
        <span>{{ book.publicationYear }}</span>
      </li>
      <li class="list-group-item">
        <span>Gatunek:</span>
        <span>{{ genreNames[book.genre] }}</span>
      </li>
      <li class="list-group-item">
        <span>Liczba stron:</span>
        <span>{{ book.pageCount }}</span>
      </li>
      <li class="list-group-item">
        <span>Język:</span>
        <span>{{ languageNames[book.language] }}</span>
      </li>
      @if (book.isEbook) {
      <li class="list-group-item">
        <span>Format wersji elektronicznej:</span>
        <span>{{
          book.ebookFormat ? ebookFormatNames[book.ebookFormat] : ""
        }}</span>
      </li>
      <li class="list-group-item">
        <span>Rozmiar pliku:</span>
        <span>{{ book.ebookFileSize }} MB</span>
      </li>
      <li class="list-group-item">
        <span>Link do pliku:</span>
        <span>{{ book.ebookLink }}</span>
      </li>
      }
    </ul>
  </div>

  <div class="mt-5">
    <h4>Recenzje</h4>
    <div class="p-4 mb-3 border rounded">
      <span class="rating">{{ averageRating.toFixed(1) }}</span>
      <p class="mb-0 text-muted">
        <span>{{ numberOfRatings }}</span> recenzji
      </p>
    </div>

    @for (review of bookReviews; track review.id) {
    <div
      class="border-bottom p-3 d-flex justify-content-between align-items-start"
    >
      <div class="d-flex flex-column w-75">
        <div class="mb-2">
          <i class="bi bi-person-circle text-secondary me-2"></i>
          <span>{{ review.author }}</span>
        </div>
        <div class="mb-2">
          <span class="badge bg-secondary">{{
            "Ocena: " + review.rating
          }}</span>
        </div>
        <p class="text-muted text-sm">
          {{ review.createdAt | date : "mediumDate" }}
        </p>
        <p class="mb-0">{{ review.content }}</p>
      </div>

      @if (review.author === loggedInUser?.username ) {
      <div class="d-flex gap-2">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="onReviewEdit(review)"
        >
          Edytuj
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger"
          (click)="onReviewDelete(review.id)"
        >
          Usuń
        </button>
      </div>
      }
    </div>
    } @empty {
    <div class="alert alert-warning">
      Ta książka nie ma jeszcze recenzji. Bądź pierwszy, który ją oceni!
    </div>
    }

    <div class="mt-4">
      <h4>{{ isEditMode ? "Edytuj recenzję" : "Dodaj recenzję" }}</h4>
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="rating" class="form-label">Ocena (1-5)</label>
              <input
                type="number"
                id="rating"
                class="form-control"
                formControlName="rating"
                [ngClass]="{
                  'is-invalid':
                    form.get('rating')?.touched && form.get('rating')?.errors
                }"
              />
              <app-form-error [control]="form.get('rating')"></app-form-error>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Treść recenzji</label>
              <textarea
                id="content"
                class="form-control"
                rows="4"
                placeholder="Napisz swoją recenzję..."
                formControlName="content"
                [ngClass]="{
                  'is-invalid':
                    form.get('content')?.touched && form.get('content')?.errors
                }"
              ></textarea>
              <app-form-error [control]="form.get('content')"></app-form-error>
            </div>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Zapisz" : "Dodaj" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
