<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ "books.details" | translate }}</h2>
    @if (loggedInUser?.role === adminRole ) {
    <div class="d-flex align-items-center gap-2">
      <a
        [routerLink]="['/admin/book', book.id, 'edit']"
        class="btn btn-outline-primary"
      >
        {{ "common.buttons.edit" | translate }}
      </a>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="onDelete(book.id)"
      >
        {{ "common.buttons.delete" | translate }}
      </button>
    </div>
    }
  </div>

  <div class="card mt-4">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img
          [src]="getImagePath(book.imagePath)"
          [alt]="book.title"
          class="w-100 object-fit-cover img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8 d-flex flex-column">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-start gap-2">
            @for (shelf of book.shelves; track shelf.id) {
            <span class="badge text-bg-secondary mb-2">
              @if (shelf.type === readShelfType) {
              {{ "shelves.type.read" | translate }}
              } @else if (shelf.type === wantToReadShelfType) {
              {{ "shelves.type.wantToRead" | translate }}
              } @else {
              {{ shelf.name }}
              }</span
            >
            }
          </div>
          <h3 class="card-title">{{ book.title }}</h3>
          <div class="card-subtitle mb-3 text-muted">
            {{ "books.form.author" | translate }}: {{ book.author }}
          </div>
          <p class="card-text">
            <span>{{ "books.form.description" | translate }}:</span>
            <span>{{ book.description }}</span>
          </p>
          <app-book-add-to-shelf
            [bookId]="book.id"
            (refresh)="onAddToShelf()"
          ></app-book-add-to-shelf>
        </div>
        <div class="card-footer">
          @if (this.bookStats$ | async; as stats) {
          <div class="d-flex justify-content-between">
            <p class="mb-0">
              {{ "books.stats.read" | translate }}:
              <span>{{ stats.readCount }}</span>
            </p>
            <p class="mb-0">
              {{ "books.stats.wantToRead" | translate }}:
              <span>{{ stats.wantToReadCount }}</span>
            </p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h4>{{ "books.info" | translate }}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span>{{ "books.form.publisher" | translate }}:</span>
        <span>{{ book.publisher }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.isbn" | translate }}:</span>
        <span>{{ book.isbn }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.publicationYear" | translate }}:</span>
        <span>{{ book.publicationYear }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.genre" | translate }}:</span>
        <span>{{ genreNames[book.genre] }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.pageCount" | translate }}:</span>
        <span>{{ book.pageCount }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.language" | translate }}:</span>
        <span>{{ languageNames[book.language] }}</span>
      </li>
      @if (book.isEbook) {
      <li class="list-group-item">
        <span>{{ "books.form.ebookFormat" | translate }}:</span>
        <span>{{
          book.ebookFormat ? ebookFormatNames[book.ebookFormat] : ""
        }}</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.ebookFileSize" | translate }}:</span>
        <span>{{ book.ebookFileSize }} MB</span>
      </li>
      <li class="list-group-item">
        <span>{{ "books.form.ebookLink" | translate }}:</span>
        <span>{{ book.ebookLink }}</span>
      </li>
      }
    </ul>
  </div>

  <div class="mt-5">
    <h4>{{ "books.reviews.title" | translate }}</h4>
    <div class="p-4 mb-3 border rounded">
      <span class="rating">{{ averageRating.toFixed(1) }}</span>
      <p class="mb-0 text-muted">
        <span>{{ numberOfRatings }}</span>
        {{ "books.reviews.count" | translate }}
      </p>
    </div>

    @for (review of bookReviews; track review.id) {
    <div
      class="border-bottom p-3 d-flex justify-content-between align-items-start"
    >
      <div class="d-flex flex-column w-75">
        <div class="mb-2">
          <i class="bi bi-person-circle text-secondary me-2"></i>
          <span>{{ review.author }}</span>
        </div>
        <div class="mb-2">
          <span class="badge bg-secondary">
            {{ "books.reviews.list.rating" | translate }}:
            {{ review.rating }}</span
          >
        </div>
        <p class="text-muted text-sm">
          {{ review.createdAt | date : "mediumDate" }}
        </p>
        <p>{{ review.content }}</p>
        @if (review.quotes.length > 0) {
        <div>
          <p class="text-secondary text-sm mb-2">
            {{ "books.reviews.list.quotes" | translate }}:
          </p>
          <ul class="list-unstyled">
            @for (quote of review.quotes; track $index) {
            <li
              class="p-2 ps-3 border-start border-2 border-primary text-muted text-sm fst-italic"
            >
              "{{ quote.text }}"
              {{
                quote.page
                  ? "(" +
                    ("books.reviews.list.page" | translate) +
                    ": " +
                    quote.page +
                    ")"
                  : ""
              }}
            </li>
            }
          </ul>
        </div>
        }
      </div>

      @if (review.author === loggedInUser?.username ) {
      <div class="d-flex gap-2">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="onReviewEdit(review)"
        >
          {{ "common.buttons.edit" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger"
          (click)="onReviewDelete(review.id)"
        >
          {{ "common.buttons.delete" | translate }}:
        </button>
      </div>
      }
    </div>
    } @empty {
    <div class="alert alert-warning">
      Ta książka nie ma jeszcze recenzji. Bądź pierwszy, który ją oceni!
    </div>
    }

    <div class="mt-4">
      <h4>
        @if (isEditMode) {
        {{ "books.reviews.edit" | translate }}
        } @else {
        {{ "books.reviews.add" | translate }}
        }
      </h4>
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="rating" class="form-label">
                {{ "books.reviews.form.rating" | translate }} (1-5)</label
              >
              <input
                type="number"
                id="rating"
                class="form-control"
                formControlName="rating"
                [ngClass]="{
                  'is-invalid':
                    form.get('rating')?.touched && form.get('rating')?.errors
                }"
              />
              <app-form-error [control]="form.get('rating')"></app-form-error>
            </div>

            <div class="mb-3">
              <label for="content" class="form-label">{{
                "books.reviews.form.content" | translate
              }}</label>
              <textarea
                id="content"
                class="form-control"
                rows="4"
                formControlName="content"
                [ngClass]="{
                  'is-invalid':
                    form.get('content')?.touched && form.get('content')?.errors
                }"
              ></textarea>
              <app-form-error [control]="form.get('content')"></app-form-error>
            </div>

            <div class="mb-3">
              <p class="form-label">
                {{ "books.reviews.form.quotes.title" | translate }}
              </p>
              <div formArrayName="quotes">
                @for (quoteControl of quotes.controls; track $index) {
                <div class="d-flex flex-column mb-3" [formGroupName]="$index">
                  <div class="mb-2">
                    <label
                      for="quote-text-{{ $index }}"
                      class="form-label text-sm"
                      >{{
                        "books.reviews.form.quotes.form.content" | translate
                      }}</label
                    >
                    <textarea
                      id="quote-text-{{ $index }}"
                      class="form-control text-sm"
                      rows="2"
                      formControlName="text"
                      [ngClass]="{
                        'is-invalid':
                          quoteControl.get('text')?.touched &&
                          quoteControl.get('text')?.errors
                      }"
                    ></textarea>
                    <app-form-error
                      [control]="quoteControl.get('text')"
                    ></app-form-error>
                  </div>

                  <div class="mb-2">
                    <label
                      for="quote-page-{{ $index }}"
                      class="form-label text-sm"
                    >
                      {{ "books.reviews.form.quotes.form.page" | translate }}
                    </label>
                    <input
                      type="number"
                      class="form-control text-sm"
                      id="quote-page-{{ $index }}"
                      formControlName="page"
                      [ngClass]="{
                        'is-invalid':
                          quoteControl.get('page')?.touched &&
                          quoteControl.get('page')?.errors
                      }"
                    />
                    <app-form-error
                      [control]="quoteControl.get('page')"
                    ></app-form-error>
                  </div>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger align-self-end"
                    (click)="removeQuote($index)"
                  >
                    {{ "common.buttons.delete" | translate }}
                  </button>
                </div>
                }
              </div>
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="addQuote()"
              >
                {{ "books.reviews.form.quotes.add" | translate }}
              </button>
            </div>

            <button type="submit" class="btn btn-primary me-2">
              {{ isEditMode ? "Zapisz recenzję" : "Dodaj recenzję" }}
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="onCancelReview()"
            >
              {{ "common.buttons.cancel" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
