<div>
  <h2>
    @if (isEditMode) {
    {{ "admin.users.edit" | translate }}
    } @else {
    {{ "admin.users.add" | translate }}
    }
  </h2>

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">{{
            "admin.users.form.username" | translate
          }}</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
            [ngClass]="{
              'is-invalid':
                form.get('username')?.touched && form.get('username')?.errors
            }"
          />
          <app-form-error [control]="form.get('username')"></app-form-error>
        </div>
        @if (!isEditMode) {
        <div class="mb-3">
          <label for="password" class="form-label">{{
            "admin.users.form.password" | translate
          }}</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                form.get('password')?.touched && form.get('password')?.errors
            }"
          />
          <app-form-error [control]="form.get('password')"></app-form-error>
        </div>
        }
        <div class="mb-3">
          <label for="role" class="form-label">{{
            "admin.users.form.role" | translate
          }}</label>
          <select
            id="role"
            class="form-select"
            formControlName="role"
            [ngClass]="{
              'is-invalid':
                form.get('role')?.touched && form.get('role')?.errors
            }"
          >
            @for (role of roles; track $index) {
            <option [ngValue]="role" [label]="role"></option>
            }
          </select>
          <app-form-error [control]="form.get('role')"></app-form-error>
        </div>
        <button type="submit" class="btn btn-primary me-2">
          @if (isEditMode) {
          {{ "common.buttons.save" | translate }}
          } @else {
          {{ "common.buttons.add" | translate }}
          }
        </button>
        <a routerLink="/admin/user/list" class="btn btn-outline-primary">
          {{ "common.buttons.cancel" | translate }}
        </a>
      </form>
    </div>
  </div>
</div>
