<div>
  <div class="mb-4">
    <h2>{{ "books.title" | translate }}</h2>
  </div>

  @if (books) {
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="row g-2">
      <div class="col-md-4">
        <input
          type="text"
          formControlName="query"
          class="form-control"
          [attr.placeholder]="'books.filter.query' | translate"
        />
      </div>
      <div class="col-md-3">
        <select formControlName="genre" class="form-select">
          <option value="">{{ "books.filter.genre" | translate }}</option>
          @for (genre of genres; track $index) {
          <option [value]="genre" [label]="genreNames[genre]"></option>
          }
        </select>
      </div>
      <div class="col-md-3">
        <select formControlName="language" class="form-select">
          <option value="">
            {{ "books.filter.language" | translate }}
          </option>
          @for (language of languages; track $index) {
          <option [value]="language" [label]="languageNames[language]"></option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
          {{ "common.buttons.filter" | translate }}
        </button>
      </div>
    </div>
  </form>

  <div class="btn-group mb-4">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      {{ "common.buttons.sort" | translate }}
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'asc')">
          {{ "books.form.title" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'desc')">
          {{ "books.form.title" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'asc')">
          {{ "books.form.author" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'desc')">
          {{ "books.form.author" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('averageRating', 'asc')">
          {{ "books.form.averageRating" | translate }} ({{
            "common.sort.asc" | translate
          }})
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('averageRating', 'desc')">
          {{ "books.form.averageRating" | translate }} ({{
            "common.sort.desc" | translate
          }})
        </button>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <p>
      Wyświetlanie
      <strong>{{ filteredBooks.length || 0 }}</strong> wyników, posortowane
      według
      <strong>{{
        sortField === "title"
          ? "tytułu"
          : sortField === "author"
          ? "autora"
          : sortField === "averageRating"
          ? "oceny"
          : "niezdefiniowane"
      }}</strong>
      w kolejności
      <strong>{{ sortDirection === "asc" ? "rosnącej" : "malejącej" }}</strong
      >.
    </p>
  </div>

  @for (book of paginatedBooks; track book.id) {
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img
          [src]="getImagePath(book.imagePath)"
          [alt]="book.title"
          class="object-fit-cover img-fluid rounded-start w-100"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-start gap-2">
            @for (shelf of book.shelves; track shelf.id) {
            <span class="badge text-bg-secondary mb-2">
              @if (shelf.type === readShelfType) {
              {{ "shelves.type.read" | translate }}
              } @else if (shelf.type === wantToReadShelfType) {
              {{ "shelves.type.wantToRead" | translate }}
              } @else {
              {{ shelf.name }}
              }
            </span>
            }
          </div>
          <h3 class="card-title">{{ book.title }}</h3>
          <div class="card-subtitle mb-3 text-muted">
            {{ "books.form.author" | translate }}: {{ book.author }}
          </div>
          <p class="card-text text-sm">
            <span>{{ "books.form.genre" | translate }}:</span>
            <span>{{ genreNames[book.genre] }}</span>
          </p>
          <p class="card-text text-sm">
            <span>{{ "books.form.language" | translate }}:</span>
            <span>{{ languageNames[book.language] }}</span>
          </p>
          <p class="card-text text-sm">
            <span>{{ "books.form.averageRating" | translate }}:</span>
            <span>{{ book.averageRating.toFixed(1) }}</span>
            &lpar;<span>
              {{ "books.form.ratingCount" | translate }}:
              {{
                book.numberOfRatings !== null ? book.numberOfRatings : 0
              }}</span
            >&rpar;
          </p>
          <div class="d-flex justify-content-between mb-2">
            <app-book-add-to-shelf
              [bookId]="book.id"
              (refresh)="refreshBooks()"
            ></app-book-add-to-shelf>
            <a
              [routerLink]="['/book', book.id, 'details']"
              class="btn btn-outline-primary"
            >
              {{ "common.buttons.details" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @empty {
  <div class="alert alert-warning">{{ "books.emptyInfo" | translate }}</div>
  }

  <div class="mt-4">
    <app-pagination
      [page]="page"
      [totalPages]="totalPages"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </div>
  }
</div>
