<div>
  <div class="mb-4">
    <h2>Lista książek</h2>
  </div>

  @if (books) {
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="row g-2">
      <div class="col-md-4">
        <input
          type="text"
          formControlName="query"
          class="form-control"
          placeholder="Wyszukaj książki po tytule lub autorze"
        />
      </div>
      <div class="col-md-3">
        <select formControlName="genre" class="form-select">
          <option value="">Wszystkie gatunki</option>
          @for (genre of genres; track $index) {
          <option [value]="genre" [label]="genreNames[genre]"></option>
          }
        </select>
      </div>
      <div class="col-md-3">
        <select formControlName="language" class="form-select">
          <option value="">Wszystkie języki</option>
          @for (language of languages; track $index) {
          <option [value]="language" [label]="languageNames[language]"></option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Filtruj</button>
      </div>
    </div>
  </form>

  <div class="btn-group mb-4">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Sortuj według
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'asc')">
          Tytuł (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'desc')">
          Tytuł (Malejąco)
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'asc')">
          Autor (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'desc')">
          Autor (Malejąco)
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('averageRating', 'asc')">
          Ocena (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('averageRating', 'desc')">
          Ocena (Malejąco)
        </button>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <p>
      Wyświetlanie
      <strong>{{ filteredBooks.length || 0 }}</strong> wyników, posortowane
      według
      <strong>{{
        sortField === "title"
          ? "tytułu"
          : sortField === "author"
          ? "autora"
          : sortField === "averageRating"
          ? "oceny"
          : "niezdefiniowane"
      }}</strong>
      w kolejności
      <strong>{{ sortDirection === "asc" ? "rosnącej" : "malejącej" }}</strong
      >.
    </p>
  </div>

  @for (book of paginatedBooks; track book.id) {
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img
          [src]="getImagePath(book.imagePath)"
          [alt]="book.title"
          class="object-fit-cover img-fluid rounded-start w-100"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-start gap-2">
            @for (shelf of book.shelves; track shelf.id) {
            <span class="badge text-bg-secondary mb-2">{{ shelf.name }}</span>
            }
          </div>
          <h3 class="card-title">{{ book.title }}</h3>
          <div class="card-subtitle mb-3 text-muted">
            {{ "Autor: " + book.author }}
          </div>
          <p class="card-text text-sm">
            <span>Gatunek:</span>
            <span>{{ genreNames[book.genre] }}</span>
          </p>
          <p class="card-text text-sm">
            <span>Język:</span>
            <span>{{ languageNames[book.language] }}</span>
          </p>
          <p class="card-text text-sm">
            <span>Ocena:</span>
            <span>{{ book.averageRating.toFixed(1) }}</span>
            &lpar;<span>{{
              "Liczba ocen: " +
                (book.numberOfRatings !== null ? book.numberOfRatings : 0)
            }}</span
            >&rpar;
          </p>
          <div class="d-flex justify-content-between mb-2">
            <app-book-add-to-shelf
              [bookId]="book.id"
              (refresh)="refreshBooks()"
            ></app-book-add-to-shelf>
            <a
              [routerLink]="['/book', book.id, 'details']"
              class="btn btn-outline-primary"
            >
              Szczegóły
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @empty {
  <div class="alert alert-warning">Brak książek do wyświetlenia.</div>
  }

  <div class="mt-4">
    <app-pagination
      [page]="page"
      [totalPages]="totalPages"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </div>
  }
</div>
