@if ( control && control.errors && control.touched) {
<div class="mt-1">
  @if (control.errors['required']) {
  <div class="text-danger text-sm">
    {{ "common.error.required" | translate }}
  </div>
  } @if (control.errors['mismatch']) {
  <div class="text-danger text-sm">
    {{ "common.error.mismatch" | translate }}
  </div>
  } @if (control.errors['min']) {
  <div class="text-danger text-sm">
    {{ "common.error.min" | translate : { min: control.errors["min"].min } }}
  </div>
  } @if (control.errors['max']) {
  <div class="text-danger text-sm">
    {{ "common.error.max" | translate : { max: control.errors["max"].max } }}
  </div>
  } @if (control.errors['minlength']) {
  <div class="text-danger text-sm">
    {{
      "common.error.minLength"
        | translate : { min: control.errors["minlength"].requiredLength }
    }}
  </div>
  } @if (control.errors['maxlength']) {
  <div class="text-danger text-sm">
    {{
      "common.error.maxLength"
        | translate : { max: control.errors["maxlength"].requiredLength }
    }}
  </div>
  } @if (control.errors['pattern']) {
  <div class="text-danger text-sm">
    {{ "common.error.pattern" | translate }}
  </div>
  }
</div>
}
