@if ( control && control.errors && control.touched) {
<div class="mt-1">
  @if (control.errors['required']) {
  <div class="text-danger text-sm">To pole jest wymagane</div>
  } @if (control.errors['mismatch']) {
  <div class="text-danger text-sm">Hasła nie pasują</div>
  } @if (control.errors['min']) {
  <div class="text-danger text-sm">
    Minimalna wartość to {{ control.errors["min"].min }}
  </div>
  } @if (control.errors['max']) {
  <div class="text-danger text-sm">
    Maksymalna wartość to {{ control.errors["max"].max }}
  </div>
  } @if (control.errors['minlength']) {
  <div class="text-danger text-sm">
    Minimalna ilość znaków to {{ control.errors["minlength"].requiredLength }}
  </div>
  } @if (control.errors['maxlength']) {
  <div class="text-danger text-sm">
    Maksymalna ilość znaków to {{ control.errors["maxlength"].requiredLength }}
  </div>
  } @if (control.errors['pattern']) {
  <div class="text-danger text-sm">Nieprawidłowy format</div>
  }
</div>
}
