<div>
  <div class="d-flex justify-content-between align-items-center mb-4 gap-2">
    <h2>Książki</h2>
    <a routerLink="/admin/book/add" class="btn btn-primary">Dodaj książkę</a>
  </div>

  @if (books) {
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="row g-2">
      <div class="col-md-4">
        <input
          type="text"
          name="query"
          class="form-control"
          formControlName="query"
          placeholder="Wyszukaj książki po tytule, autorze lub ISBN"
        />
      </div>
      <div class="col-md-3">
        <select formControlName="genre" class="form-select">
          <option value="">Wszystkie gatunki</option>
          @for (genre of genres; track $index) {
          <option [value]="genre" [label]="genreNames[genre]"></option>
          }
        </select>
      </div>
      <div class="col-md-3">
        <select formControlName="language" class="form-select">
          <option value="">Wszystkie języki</option>
          @for (language of languages; track $index) {
          <option [value]="language" [label]="languageNames[language]"></option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Filtruj</button>
      </div>
    </div>
  </form>

  <div class="btn-group mb-4">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Sortuj według
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" (click)="onSort('isbn', 'asc')">
          ISBN (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('isbn', 'desc')">
          ISBN (Malejąco)
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'asc')">
          Tytuł (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('title', 'desc')">
          Tytuł (Malejąco)
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'asc')">
          Autor (Rosnąco)
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="onSort('author', 'desc')">
          Autor (Malejąco)
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button
          class="dropdown-item"
          (click)="onSort('publicationYear', 'asc')"
        >
          Rok publikacji (Rosnąco)
        </button>
      </li>
      <li>
        <button
          class="dropdown-item"
          (click)="onSort('publicationYear', 'desc')"
        >
          Rok publikacji (Malejąco)
        </button>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <p>
      Wyświetlanie
      <strong>{{ filteredBooks.length || 0 }}</strong> wyników, posortowane
      według
      <strong>{{
        sortField === "isbn"
          ? "ISBN"
          : sortField === "title"
          ? "tytułu"
          : sortField === "author"
          ? "autora"
          : sortField === "publicationYear"
          ? "roku publikacji"
          : "niezdefiniowane"
      }}</strong>
      w kolejności
      <strong>{{ sortDirection === "asc" ? "rosnącej" : "malejącej" }}</strong
      >.
    </p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th class="col-1">ISBN</th>
          <th class="col-1">Okładka</th>
          <th class="col-1">Tytuł</th>
          <th class="col-1">Autor</th>
          <th class="col-1">Wydawnictwo</th>
          <th class="col-1">Rok publikacji</th>
          <th class="col-1">Gatunek</th>
          <th class="col-1">Język</th>
          <th class="col-1">Wersja elektroniczna</th>
          <th class="col-1">Akcje</th>
        </tr>
      </thead>
      <tbody>
        @for (book of paginatedBooks; track book.id) {
        <tr>
          <td>{{ book.isbn }}</td>
          <td>
            <img
              [src]="getImagePath(book.imagePath)"
              [alt]="book.title"
              class="img-fluid img-thumbnail"
            />
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.publicationYear }}</td>
          <td>{{ genreNames[book.genre] }}</td>
          <td>{{ languageNames[book.language] }}</td>
          <td class="text-center">
            @if (book.isEbook) {
            <i class="bi bi-check-circle-fill text-primary"></i>
            }
          </td>
          <td class="text-nowrap">
            <a
              [routerLink]="['/admin/book', book.id, 'edit']"
              class="btn btn-sm btn-outline-primary me-2"
            >
              Edytuj
            </a>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="onDelete(book.id)"
            >
              Usuń
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="9">
            <div class="alert alert-warning">Brak książek do wyświetlenia.</div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="mt-2">
    <app-pagination
      [page]="page"
      [totalPages]="totalPages"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </div>
  }
</div>
