<div>
  <h2>Logowanie</h2>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Nazwa użytkownika</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            formControlName="username"
          />
          <app-form-error [control]="form.get('username')"></app-form-error>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Hasło</label>
          <input
            type="text"
            name="password"
            id="password"
            class="form-control"
            formControlName="password"
          />
          <app-form-error [control]="form.get('password')"></app-form-error>
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
      </form>
    </div>
  </div>
  <div class="mt-3">
    Nie masz konta? <a [routerLink]="['/register']">Zarejestruj się</a>
  </div>
</div>
