<div class="dropdown">
  <button
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-bs-toggle="dropdown"
  >
    {{ "books.addToShelf" | translate }}
  </button>
  <ul class="dropdown-menu">
    @for (shelf of availableShelves; track shelf.id) {
    <li>
      <button class="dropdown-item" (click)="addBookToShelf(shelf.id, bookId)">
        @if (shelf.type === readShelfType) {
        {{ "shelves.type.read" | translate }}
        } @else if (shelf.type === wantToReadShelfType) {
        {{ "shelves.type.wantToRead" | translate }}
        } @else {
        {{ shelf.name }}
        }
      </button>
    </li>
    }
  </ul>
</div>
