<div>
  <div class="btn-group mb-4" role="group">
    <a
      class="btn btn-primary"
      [routerLink]="['./user']"
      routerLinkActive="active"
    >
      {{ "admin.users.title" | translate }}
    </a>
    <a
      class="btn btn-primary"
      [routerLink]="['./book']"
      routerLinkActive="active"
    >
      {{ "admin.books.title" | translate }}
    </a>
    <a
      class="btn btn-primary"
      [routerLink]="['./review']"
      routerLinkActive="active"
    >
      {{ "admin.reviews.title" | translate }}
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
