@import "variables";

@import "ngx-toastr/toastr";

@import "bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-sm {
  font-size: 0.875rem;
}

@mixin toast-with-icon($background-color, $icon-content) {
  background-color: $background-color;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding-left: 40px;
  position: relative;

  &::before {
    content: $icon-content;
    font-family: "Bootstrap-icons";
    color: white;
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
  }
}

.toast-container .ngx-toastr {
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !important;
  margin-bottom: 0.25rem;
  background: none;

  &.toast-success {
    @include toast-with-icon(#3567be, "\F633");
  }

  &.toast-error {
    @include toast-with-icon(#b24726, "\F623");
  }
}

.card {
  .card-subtitle {
    font-weight: 500;
  }

  .card-text span:first-child {
    font-weight: 500;
    margin-right: 0.5rem;
  }
}
